/*
 * @Author Florian Stettler
 * Create Date:   01.12.2012  create of the file  
 *                05.01.2013  update of #content  
 */
/* import functions */
/*
 * @Author Florian Stettler
 * Create Date:   01.12.2012  create of the file    
 */
/* base constants */
/* body */
/* Base */
/* CSS */
* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
body {
  background-color: #424242;
  background-image: url(../img/design/textur.png);
}
body pre {
  padding: 10px;
  background-color: #FFFFFF;
  border: 1px solid black;
}
body #wrapper {
  padding-top: 10px;
  width: 100%;
  margin: auto auto auto auto;
  height: auto;
  /* Banner constants*/

  /* Navigation constants */

  /* Content constants */

}
body #wrapper #bannermargin #banner {
  width: 1200px;
  margin: auto auto auto auto;
  box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
  height: 250px;
  position: relative;
  background-image: url(../img/design/logo3.png), url(../img/design/logo3.png);
  background-size: 250px;
  background-position: 20px,930px;
  background-color: #000000;
  background-repeat: no-repeat;
  color: #F2F2F2;
  text-align: center;
  font-weight: bold;
}
body #wrapper #bannermargin p {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Metal Mania', cursive;
}
body #wrapper #bannermargin p b {
  font-size: 170px;
  font-family: 'Metal Mania', cursive;
  color: #C20000;
}
body #wrapper #bannermargin p span {
  color: #C20000;
}
body #wrapper #navimargin {
  margin: 10px 0 10px 0;
  height: 40px;
  min-width: 1200px;
  box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
  background-image: none;
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #121212;
}
body #wrapper #navimargin #navi {
  width: 1200px;
  margin: auto auto auto auto;
  height: 40px;
}
body #wrapper #navimargin #navi #navipoints {
  width: 1200px;
  height: 40px;
  line-height: 40px;
}
body #wrapper #navimargin #navi #navipoints a {
  text-decoration: none;
  color: #EDA709;
  padding: 10px;
}
body #wrapper #navimargin #navi #navipoints a:hover {
  color: white;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #ffffff;
  box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
}
body #wrapper #navimargin #navi #navipoints .active {
  color: white;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #ffffff;
  box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
}
body #wrapper #contentmargin {
  width: 1200px;
  margin: auto auto auto auto;
}
body #wrapper #contentmargin #content {
  width: 1200px;
  float: left;
  box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
  background-color: #494b4a;
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6494b4a, endColorstr=#e6494b4a)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6494b4a, endColorstr=#e6494b4a);
  background-color: rgba(73, 75, 74, 0.9);
  min-height: 500px;
  height: 100%;
}
body #wrapper #contentmargin #content .messages {
  font-style: italic;
  font-size: 90%;
  background-color: #F2F2F2;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  margin-bottom: 10px;
  font-weight: bold;
  margin: 10px;
}
body #wrapper #contentmargin #content .success {
  color: #008000;
}
body #wrapper #contentmargin #content .error {
  color: #ff0000;
}
body #wrapper #contentmargin #content .notice {
  color: darkyellow;
}
body #wrapper #battle .charcontainer {
  width: 380px;
  border-width: 0px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  float: left;
}
body #wrapper #battle .charcontainer .chartop {
  float: left;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
body #wrapper #battle .charcontainer .chartop .charimg {
  background-color: grey;
  height: 190px;
  width: 190px;
  float: left;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
}
body #wrapper #battle .charcontainer .chartop .charimg img {
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
}
body #wrapper #battle .charcontainer .chartop .charattr {
  background-color: lightgrey;
  height: 190px;
  width: 190px;
  float: left;
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
}
body #wrapper #battle .charcontainer .chartop .charattr h2 {
  font-size: 20px;
  height: 30px;
  border-bottom: 1px solid black;
  padding: 5px 5px 5px 5px;
}
body #wrapper #battle .charcontainer .chartop .charattr h3 {
  font-size: 17px;
  height: 20px;
  padding: 5px 5px 5px 5px;
}
body #wrapper #battle .charcontainer .chartop .charattr table.charattrtable {
  width: 178px;
  padding: 5px 5px 5px 5px;
}
body #wrapper #battle .charcontainer .chartop .charattr table.charattrtable td {
  width: 98px;
}
body #wrapper #battle .charcontainer .exp {
  height: 15px;
  width: 378px;
  float: left;
  margin-bottom: 10px;
  position: relative;
}
body #wrapper #battle .charcontainer .exp_top {
  height: 15px;
  position: absolute;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  background-color: #e8b300;
  background-image: -webkit-linear-gradient(top, #e8b300, #ff730a);
  background-image: -moz-linear-gradient(top, #e8b300, #ff730a);
  background-image: -o-linear-gradient(top, #e8b300, #ff730a);
  background-image: -ms-linear-gradient(top, #e8b300, #ff730a);
  background-image: linear-gradient(top, #e8b300, #ff730a);
}
body #wrapper #battle .charcontainer .exp_bottom {
  height: 15px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  background-color: #808080;
  background-image: -webkit-linear-gradient(top, #808080, #5a5a5a);
  background-image: -moz-linear-gradient(top, #808080, #5a5a5a);
  background-image: -o-linear-gradient(top, #808080, #5a5a5a);
  background-image: -ms-linear-gradient(top, #808080, #5a5a5a);
  background-image: linear-gradient(top, #808080, #5a5a5a);
  width: 100%;
}
body #wrapper #battle .charcontainer .exp span.exptext {
  position: absolute;
  height: 20px;
  width: 300px;
  display: block;
  margin-top: -16px;
  margin-left: -150px;
  left: 50%;
  text-align: center;
  color: #FFFFFF;
  font-size: 15px;
}
body #wrapper #battle .charcontainer .charmiddle {
  height: 30px;
  width: 378px;
  float: left;
  margin-bottom: 10px;
  position: relative;
}
body #wrapper #battle .charcontainer .progressbar_top {
  height: 30px;
  position: absolute;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  background-color: #2f9e2e;
  background-image: -webkit-linear-gradient(top, #2f9e2e, #387831);
  background-image: -moz-linear-gradient(top, #2f9e2e, #387831);
  background-image: -o-linear-gradient(top, #2f9e2e, #387831);
  background-image: -ms-linear-gradient(top, #2f9e2e, #387831);
  background-image: linear-gradient(top, #2f9e2e, #387831);
}
body #wrapper #battle .charcontainer .progressbar_bottom {
  height: 30px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  box-shadow: 0 0 10px #8b0000;
  -moz-box-shadow: 0 0 10px #8b0000;
  -webkit-box-shadow: 0 0 10px #8b0000;
  background-color: #808080;
  background-image: -webkit-linear-gradient(top, #808080, #5a5a5a);
  background-image: -moz-linear-gradient(top, #808080, #5a5a5a);
  background-image: -o-linear-gradient(top, #808080, #5a5a5a);
  background-image: -ms-linear-gradient(top, #808080, #5a5a5a);
  background-image: linear-gradient(top, #808080, #5a5a5a);
  width: 100%;
}
body #wrapper #battle .charcontainer .charmiddle span.progresstext {
  position: absolute;
  height: 20px;
  width: 300px;
  display: block;
  margin-top: -25px;
  margin-left: -150px;
  left: 50%;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}
body #wrapper #battle .charcontainer .full {
  background-color: #2f9e2e;
  background-image: -webkit-linear-gradient(top, #2f9e2e, #387831);
  background-image: -moz-linear-gradient(top, #2f9e2e, #387831);
  background-image: -o-linear-gradient(top, #2f9e2e, #387831);
  background-image: -ms-linear-gradient(top, #2f9e2e, #387831);
  background-image: linear-gradient(top, #2f9e2e, #387831);
}
body #wrapper #battle .charcontainer .half {
  background-color: #d9b504;
  background-image: -webkit-linear-gradient(top, #d9b504, #d98e04);
  background-image: -moz-linear-gradient(top, #d9b504, #d98e04);
  background-image: -o-linear-gradient(top, #d9b504, #d98e04);
  background-image: -ms-linear-gradient(top, #d9b504, #d98e04);
  background-image: linear-gradient(top, #d9b504, #d98e04);
}
body #wrapper #battle .charcontainer .danger {
  background-color: #a60303;
  background-image: -webkit-linear-gradient(top, #a60303, #590202);
  background-image: -moz-linear-gradient(top, #a60303, #590202);
  background-image: -o-linear-gradient(top, #a60303, #590202);
  background-image: -ms-linear-gradient(top, #a60303, #590202);
  background-image: linear-gradient(top, #a60303, #590202);
}
body #wrapper #battle .charcontainer .charbottom {
  float: left;
  margin-bottom: 5px;
  width: 371px;
  padding: 5px 4px 0 5px;
  background-color: lightgrey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
body #wrapper #battle .charcontainer .charbottom .skill {
  float: left;
  width: 70px;
  height: 70px;
  padding: 0px;
  margin: 0px 5px 4px 0px;
  background-color: grey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-decoration: none;
  color: black;
  font-weight: normal;
  border: 0px;
}
body #wrapper #battle .charcontainer .charbottom .skill img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  height: 70px;
  width: 70px;
  cursor: pointer;
  border: 0px;
}
body #wrapper #battle .charcontainer .charbottom .skilltext {
  position: absolute;
  display: none;
  background-color: #F5ECEC;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 0 5px #000000;
  -moz-box-shadow: 0 0 5px #000000;
  -webkit-box-shadow: 0 0 5px #000000;
  font-size: 13px;
}
body #wrapper #battle .charcontainer .charbottom .skillright {
  margin-right: 0px;
}
body #wrapper #battle .charcontainer a {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
  float: right;
  padding: 3px 10px 3px 10px;
  color: black;
  text-decoration: none;
  background-color: lightgrey;
  display: block;
  margin-top: 15px;
}
body #wrapper #battle .charcontainer .status {
  width: 370px;
  padding: 5px;
  font-weight: bold;
  background-color: lightgrey;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
body #wrapper #battle .battlelog {
  margin-top: 3px;
  width: 398px;
  min-height: 500px;
  float: left;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #000000;
}
body #wrapper #battle .battlelog .battlelogvs {
  font-size: 80px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #000000;
}
body #wrapper #battle .battlelog .battlelogtext {
  height: 300px;
  overflow: auto;
}
body #wrapper #battle .battlelog .battlelogtext span.even,
body #wrapper #battle .battlelog .battlelogtext span.odd {
  padding: 10px;
  display: block;
  background-color: #b2b2b2;
}
body #wrapper #battle .battlelog .battlelogtext span.odd {
  background-color: #d8d8d8;
}
body #wrapper #character {
  padding: 10px;
}
body #wrapper #character .left {
  float: left;
  padding-right: 20px;
}
body #wrapper #character .left .charcontainer {
  width: 380px;
  border-width: 0px;
  border-style: solid;
  border-color: black;
  padding: 0px;
  float: left;
  margin-bottom: 10px;
}
body #wrapper #character .left .charcontainer .chartop {
  float: left;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
body #wrapper #character .left .charcontainer .chartop .charimg {
  background-color: grey;
  height: 190px;
  width: 190px;
  float: left;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
}
body #wrapper #character .left .charcontainer .chartop .charimg img {
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
}
body #wrapper #character .left .charcontainer .chartop .charattr {
  background-color: lightgrey;
  height: 190px;
  width: 190px;
  float: left;
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
}
body #wrapper #character .left .charcontainer .chartop .charattr h2 {
  font-size: 20px;
  height: 30px;
  border-bottom: 1px solid black;
  padding: 5px 5px 5px 5px;
}
body #wrapper #character .left .charcontainer .chartop .charattr h3 {
  font-size: 17px;
  height: 20px;
  padding: 5px 5px 5px 5px;
}
body #wrapper #character .left .charcontainer .chartop .charattr table.charattrtable {
  width: 178px;
  padding: 5px 5px 5px 5px;
}
body #wrapper #character .left .charcontainer .chartop .charattr table.charattrtable td {
  width: 98px;
}
body #wrapper #character .left .charcontainer .exp {
  height: 15px;
  width: 378px;
  float: left;
  margin-bottom: 10px;
  position: relative;
}
body #wrapper #character .left .charcontainer .exp_top {
  height: 15px;
  position: absolute;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  background-color: #e8b300;
  background-image: -webkit-linear-gradient(top, #e8b300, #ff730a);
  background-image: -moz-linear-gradient(top, #e8b300, #ff730a);
  background-image: -o-linear-gradient(top, #e8b300, #ff730a);
  background-image: -ms-linear-gradient(top, #e8b300, #ff730a);
  background-image: linear-gradient(top, #e8b300, #ff730a);
}
body #wrapper #character .left .charcontainer .exp_bottom {
  height: 15px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  background-color: #808080;
  background-image: -webkit-linear-gradient(top, #808080, #5a5a5a);
  background-image: -moz-linear-gradient(top, #808080, #5a5a5a);
  background-image: -o-linear-gradient(top, #808080, #5a5a5a);
  background-image: -ms-linear-gradient(top, #808080, #5a5a5a);
  background-image: linear-gradient(top, #808080, #5a5a5a);
  width: 100%;
}
body #wrapper #character .left .charcontainer .exp span.exptext {
  position: absolute;
  height: 20px;
  width: 300px;
  display: block;
  margin-top: -16px;
  margin-left: -150px;
  left: 50%;
  text-align: center;
  color: #FFFFFF;
  font-size: 15px;
}
body #wrapper #character .left .charcontainer .charmiddle {
  height: 30px;
  width: 378px;
  float: left;
  margin-bottom: 10px;
  position: relative;
}
body #wrapper #character .left .charcontainer .progressbar_top {
  height: 30px;
  position: absolute;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  background-color: #2f9e2e;
  background-image: -webkit-linear-gradient(top, #2f9e2e, #387831);
  background-image: -moz-linear-gradient(top, #2f9e2e, #387831);
  background-image: -o-linear-gradient(top, #2f9e2e, #387831);
  background-image: -ms-linear-gradient(top, #2f9e2e, #387831);
  background-image: linear-gradient(top, #2f9e2e, #387831);
}
body #wrapper #character .left .charcontainer .progressbar_bottom {
  height: 30px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  box-shadow: 0 0 10px #8b0000;
  -moz-box-shadow: 0 0 10px #8b0000;
  -webkit-box-shadow: 0 0 10px #8b0000;
  background-color: #808080;
  background-image: -webkit-linear-gradient(top, #808080, #5a5a5a);
  background-image: -moz-linear-gradient(top, #808080, #5a5a5a);
  background-image: -o-linear-gradient(top, #808080, #5a5a5a);
  background-image: -ms-linear-gradient(top, #808080, #5a5a5a);
  background-image: linear-gradient(top, #808080, #5a5a5a);
  width: 100%;
}
body #wrapper #character .left .charcontainer .charmiddle span.progresstext {
  position: absolute;
  height: 20px;
  width: 300px;
  display: block;
  margin-top: -25px;
  margin-left: -150px;
  left: 50%;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}
body #wrapper #character .left .charcontainer .full {
  background-color: #2f9e2e;
  background-image: -webkit-linear-gradient(top, #2f9e2e, #387831);
  background-image: -moz-linear-gradient(top, #2f9e2e, #387831);
  background-image: -o-linear-gradient(top, #2f9e2e, #387831);
  background-image: -ms-linear-gradient(top, #2f9e2e, #387831);
  background-image: linear-gradient(top, #2f9e2e, #387831);
}
body #wrapper #character .left .charcontainer .half {
  background-color: #d9b504;
  background-image: -webkit-linear-gradient(top, #d9b504, #d98e04);
  background-image: -moz-linear-gradient(top, #d9b504, #d98e04);
  background-image: -o-linear-gradient(top, #d9b504, #d98e04);
  background-image: -ms-linear-gradient(top, #d9b504, #d98e04);
  background-image: linear-gradient(top, #d9b504, #d98e04);
}
body #wrapper #character .left .charcontainer .danger {
  background-color: #a60303;
  background-image: -webkit-linear-gradient(top, #a60303, #590202);
  background-image: -moz-linear-gradient(top, #a60303, #590202);
  background-image: -o-linear-gradient(top, #a60303, #590202);
  background-image: -ms-linear-gradient(top, #a60303, #590202);
  background-image: linear-gradient(top, #a60303, #590202);
}
body #wrapper #character .left .charcontainer .charbottom {
  float: left;
  margin-bottom: 5px;
  width: 371px;
  padding: 5px 4px 0 5px;
  background-color: lightgrey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
body #wrapper #character .left .charcontainer .charbottom .skill {
  float: left;
  width: 70px;
  height: 70px;
  padding: 0px;
  margin: 0px 5px 4px 0px;
  background-color: grey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-decoration: none;
  color: black;
  font-weight: normal;
  border: 0px;
}
body #wrapper #character .left .charcontainer .charbottom .skill img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  height: 70px;
  width: 70px;
  cursor: pointer;
  border: 0px;
}
body #wrapper #character .left .charcontainer .charbottom .skilltext {
  position: absolute;
  display: none;
  background-color: #F5ECEC;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 0 5px #000000;
  -moz-box-shadow: 0 0 5px #000000;
  -webkit-box-shadow: 0 0 5px #000000;
  font-size: 13px;
}
body #wrapper #character .left .charcontainer .charbottom .skillright {
  margin-right: 0px;
}
body #wrapper #character .left .charcontainer a {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
  float: right;
  padding: 3px 10px 3px 10px;
  color: black;
  text-decoration: none;
  background-color: lightgrey;
  display: block;
  margin-top: 15px;
}
body #wrapper #character .right {
  float: left;
  width: 780px;
}
body #wrapper #character .right .parts .partnavi {
  width: 100%;
  float: left;
}
body #wrapper #character .right .parts .partnavi .partnavileft,
body #wrapper #character .right .parts .partnavi .partnaviright {
  width: 47.5%;
  padding: 1%;
  float: left;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background-color: #F5ECEC;
  font-weight: bold;
}
body #wrapper #character .right .parts .partnavi .partnaviright {
  margin-left: 1%;
}
body #wrapper #character .right .parts .partnavi .active {
  background-color: #d3d3d3;
  background-image: -webkit-linear-gradient(top, #d3d3d3, #f5ecec);
  background-image: -moz-linear-gradient(top, #d3d3d3, #f5ecec);
  background-image: -o-linear-gradient(top, #d3d3d3, #f5ecec);
  background-image: -ms-linear-gradient(top, #d3d3d3, #f5ecec);
  background-image: linear-gradient(top, #d3d3d3, #f5ecec);
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  padding-bottom: 15px;
}
body #wrapper #character .right .parts .leftdiv {
  width: 98%;
  float: left;
  background-color: #F5ECEC;
  padding: 1% 1% 0 1%;
  border-radius: 0 5px 5px 5px;
  -webkit-border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px;
}
body #wrapper #character .right .parts .leftdiv .variation {
  float: left;
  width: 165px;
}
body #wrapper #character .right .parts .leftdiv .variation .physical,
body #wrapper #character .right .parts .leftdiv .variation .magical,
body #wrapper #character .right .parts .leftdiv .variation .special {
  height: 100px;
  width: 150px;
  line-height: 100px;
  text-align: center;
  margin: 0 10px 10px 0;
  display: block;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-weight: bold;
}
body #wrapper #character .right .parts .leftdiv .variation .physical {
  background-color: #d75d51;
}
body #wrapper #character .right .parts .leftdiv .variation .magical {
  background-color: #5992cf;
}
body #wrapper #character .right .parts .leftdiv .variation .special {
  background-color: #ffa54b;
}
body #wrapper #character .right .parts .leftdiv .variation .chosen {
  margin-right: 0px;
  padding-right: 15px;
  border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
}
body #wrapper #character .right .parts .leftdiv .skills .physical,
body #wrapper #character .right .parts .leftdiv .skills .magical,
body #wrapper #character .right .parts .leftdiv .skills .special {
  float: left;
  min-height: 305px;
  width: 584px;
  margin-bottom: 5px;
  margin-left: -5px;
  padding: 15px 4px 0 16px;
  background-color: #D3D3D3;
  display: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
body #wrapper #character .right .parts .leftdiv .skills .physical .skillcontainer,
body #wrapper #character .right .parts .leftdiv .skills .magical .skillcontainer,
body #wrapper #character .right .parts .leftdiv .skills .special .skillcontainer {
  width: 31%;
  margin-right: 2%;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 0 5px #000000;
  -moz-box-shadow: 0 0 5px #000000;
  -webkit-box-shadow: 0 0 5px #000000;
  float: left;
  background-color: #D3D3D3;
}
body #wrapper #character .right .parts .leftdiv .skills .physical .skillcontainer .skill,
body #wrapper #character .right .parts .leftdiv .skills .magical .skillcontainer .skill,
body #wrapper #character .right .parts .leftdiv .skills .special .skillcontainer .skill {
  float: left;
  width: 70px;
  height: 70px;
  padding: 0px;
  margin: 0px 5px 0px 0px;
  background-color: grey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-decoration: none;
  color: black;
  font-weight: normal;
  border: 0px;
}
body #wrapper #character .right .parts .leftdiv .skills .physical .skillcontainer .skill img,
body #wrapper #character .right .parts .leftdiv .skills .magical .skillcontainer .skill img,
body #wrapper #character .right .parts .leftdiv .skills .special .skillcontainer .skill img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  height: 70px;
  width: 70px;
  border: 0px;
}
body #wrapper #character .right .parts .leftdiv .skills .physical .skillcontainer .skilltext,
body #wrapper #character .right .parts .leftdiv .skills .magical .skillcontainer .skilltext,
body #wrapper #character .right .parts .leftdiv .skills .special .skillcontainer .skilltext {
  padding-top: 5px;
  display: block;
  font-size: 13px;
}
body #wrapper #character .right .parts .leftdiv .skills .physical {
  background-color: #d75d51;
}
body #wrapper #character .right .parts .leftdiv .skills .magical {
  background-color: #5992cf;
}
body #wrapper #character .right .parts .leftdiv .skills .special {
  background-color: #ffa54b;
}
body #wrapper #character .right .parts .leftdiv .skills .show {
  display: block;
}
body #wrapper #character .right .parts .rightdiv {
  float: left;
  width: 100%;
}
body #wrapper #character .right .parts .rightdiv .charap {
  width: 98%;
  padding: 1%;
  border-radius: 5px 0 5px 5px;
  -webkit-border-radius: 5px 0 5px 5px;
  -moz-border-radius: 5px 0 5px 5px;
  background-color: #F5ECEC;
  float: left;
}
body #wrapper #character .right .parts .rightdiv .charap .apheader {
  width: 100%;
  float: left;
}
body #wrapper #character .right .parts .rightdiv .charap .apheader .headerleft,
body #wrapper #character .right .parts .rightdiv .charap .apheader .headerright {
  float: left;
  width: 50%;
  font-weight: bold;
}
body #wrapper #character .right .parts .rightdiv .charap .apcontent {
  width: 100%;
  float: left;
}
body #wrapper #character .right .parts .rightdiv .charap .apcontent .apcontentleft,
body #wrapper #character .right .parts .rightdiv .charap .apcontent .apcontentright {
  width: 48%;
  float: left;
  margin-right: 2%;
}
body #wrapper #character .right .parts .rightdiv .charap .apcontent .apcontentleft .att,
body #wrapper #character .right .parts .rightdiv .charap .apcontent .apcontentright .att {
  width: 90%;
  margin: 0 6% 10px 0;
  padding: 20px 2% 20px 2%;
  background-color: lightgreen;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
body #wrapper #character .right .parts .rightdiv .charap .apcontent .apcontentleft .shadow,
body #wrapper #character .right .parts .rightdiv .charap .apcontent .apcontentright .shadow {
  box-shadow: 0 0 10px #000000;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
}
body #wrapper #character .right .parts .rightdiv .charap .apcontent .apcontentright {
  float: left;
}
body #wrapper #character .right .parts .rightdiv .charap .apcontent .apcontentright .skillpoint {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background-color: lightgreen;
  text-align: center;
  cursor: pointer;
  float: left;
}
body #wrapper #character .right .parts .hidden {
  display: none;
}
body #wrapper #character .newChar {
  width: 300px;
}
body #wrapper #character .newChar table {
  background-color: #d3d3d3;
  background-image: -webkit-linear-gradient(top, #d3d3d3, #8c8a8a);
  background-image: -moz-linear-gradient(top, #d3d3d3, #8c8a8a);
  background-image: -o-linear-gradient(top, #d3d3d3, #8c8a8a);
  background-image: -ms-linear-gradient(top, #d3d3d3, #8c8a8a);
  background-image: linear-gradient(top, #d3d3d3, #8c8a8a);
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
body #wrapper #character .newChar table td.label {
  width: 150px;
  display: block;
}
body #wrapper #character .newChar input[type="text"] {
  padding: 3px;
  margin-bottom: 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  width: 250px;
  border: 1px solid white;
  background: -webkit-gradient(linear, left top, left 20, from(#ffffff), color-stop(4%, #dddddd), to(#ffffff));
}
body #wrapper #character .newChar input[type="file"] {
  padding: 3px;
  margin-bottom: 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  width: 250px;
  border: 1px solid white;
  background: -webkit-gradient(linear, left top, left 20, from(#ffffff), color-stop(4%, #dddddd), to(#ffffff));
}
body #wrapper #character .newChar input[type="submit"] {
  font-weight: bold;
  float: right;
  padding: 3px 10px 3px 10px;
}
body #wrapper #dashboard .left {
  width: 400px;
  float: left;
}
body #wrapper #dashboard .usercontainer {
  padding: 10px 10px 0 10px;
  float: left;
}
body #wrapper #dashboard .userinfo {
  width: 370px;
  height: 110px;
  float: left;
  background-color: grey;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
body #wrapper #dashboard .right {
  width: 800px;
  float: left;
  padding-top: 10px;
}
body #wrapper #dashboard .challangecontainer {
  float: left;
  height: 100px;
  padding: 10px;
  background-color: #d3d3d3;
  background-image: -webkit-linear-gradient(top, #d3d3d3, #8c8a8a);
  background-image: -moz-linear-gradient(top, #d3d3d3, #8c8a8a);
  background-image: -o-linear-gradient(top, #d3d3d3, #8c8a8a);
  background-image: -ms-linear-gradient(top, #d3d3d3, #8c8a8a);
  background-image: linear-gradient(top, #d3d3d3, #8c8a8a);
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
body #wrapper #dashboard .challangecontainer .charimg {
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  float: left;
  margin-right: 20px;
  overflow: hidden;
}
body #wrapper #dashboard .challangecontainer .charinfo {
  width: 550px;
  height: 100px;
  float: left;
}
body #wrapper #dashboard .challangecontainer .charbutton {
  width: 100px;
  height: 100px;
  float: left;
}
body #wrapper #dashboard .challangecontainer .charbutton button {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
  float: right;
  padding: 3px 10px 3px 10px;
  color: black;
  text-decoration: none;
  background-color: lightgrey;
  display: block;
  margin-top: 35px;
}
body #wrapper #dashboard .charcontainer {
  width: 380px;
  border-width: 0px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  float: left;
}
body #wrapper #dashboard .charcontainer .chartop {
  float: left;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
body #wrapper #dashboard .charcontainer .chartop .charimg {
  background-color: grey;
  height: 190px;
  width: 190px;
  float: left;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
}
body #wrapper #dashboard .charcontainer .chartop .charimg img {
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
}
body #wrapper #dashboard .charcontainer .chartop .charattr {
  background-color: lightgrey;
  height: 190px;
  width: 190px;
  float: left;
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
}
body #wrapper #dashboard .charcontainer .chartop .charattr h2 {
  font-size: 20px;
  height: 30px;
  border-bottom: 1px solid black;
  padding: 5px 5px 5px 5px;
}
body #wrapper #dashboard .charcontainer .chartop .charattr h3 {
  font-size: 17px;
  height: 20px;
  padding: 5px 5px 5px 5px;
}
body #wrapper #dashboard .charcontainer .chartop .charattr table.charattrtable {
  width: 178px;
  padding: 5px 5px 5px 5px;
}
body #wrapper #dashboard .charcontainer .chartop .charattr table.charattrtable td {
  width: 98px;
}
body #wrapper #dashboard .charcontainer .exp {
  height: 15px;
  width: 378px;
  float: left;
  margin-bottom: 10px;
  position: relative;
}
body #wrapper #dashboard .charcontainer .exp_top {
  height: 15px;
  position: absolute;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  background-color: #e8b300;
  background-image: -webkit-linear-gradient(top, #e8b300, #ff730a);
  background-image: -moz-linear-gradient(top, #e8b300, #ff730a);
  background-image: -o-linear-gradient(top, #e8b300, #ff730a);
  background-image: -ms-linear-gradient(top, #e8b300, #ff730a);
  background-image: linear-gradient(top, #e8b300, #ff730a);
}
body #wrapper #dashboard .charcontainer .exp_bottom {
  height: 15px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  background-color: #808080;
  background-image: -webkit-linear-gradient(top, #808080, #5a5a5a);
  background-image: -moz-linear-gradient(top, #808080, #5a5a5a);
  background-image: -o-linear-gradient(top, #808080, #5a5a5a);
  background-image: -ms-linear-gradient(top, #808080, #5a5a5a);
  background-image: linear-gradient(top, #808080, #5a5a5a);
  width: 100%;
}
body #wrapper #dashboard .charcontainer .exp span.exptext {
  position: absolute;
  height: 20px;
  width: 300px;
  display: block;
  margin-top: -16px;
  margin-left: -150px;
  left: 50%;
  text-align: center;
  color: #FFFFFF;
  font-size: 15px;
}
body #wrapper #dashboard .charcontainer .charmiddle {
  height: 30px;
  width: 378px;
  float: left;
  margin-bottom: 10px;
  position: relative;
}
body #wrapper #dashboard .charcontainer .progressbar_top {
  height: 30px;
  position: absolute;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  background-color: #2f9e2e;
  background-image: -webkit-linear-gradient(top, #2f9e2e, #387831);
  background-image: -moz-linear-gradient(top, #2f9e2e, #387831);
  background-image: -o-linear-gradient(top, #2f9e2e, #387831);
  background-image: -ms-linear-gradient(top, #2f9e2e, #387831);
  background-image: linear-gradient(top, #2f9e2e, #387831);
}
body #wrapper #dashboard .charcontainer .progressbar_bottom {
  height: 30px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  box-shadow: 0 0 10px #8b0000;
  -moz-box-shadow: 0 0 10px #8b0000;
  -webkit-box-shadow: 0 0 10px #8b0000;
  background-color: #808080;
  background-image: -webkit-linear-gradient(top, #808080, #5a5a5a);
  background-image: -moz-linear-gradient(top, #808080, #5a5a5a);
  background-image: -o-linear-gradient(top, #808080, #5a5a5a);
  background-image: -ms-linear-gradient(top, #808080, #5a5a5a);
  background-image: linear-gradient(top, #808080, #5a5a5a);
  width: 100%;
}
body #wrapper #dashboard .charcontainer .charmiddle span.progresstext {
  position: absolute;
  height: 20px;
  width: 300px;
  display: block;
  margin-top: -25px;
  margin-left: -150px;
  left: 50%;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}
body #wrapper #dashboard .charcontainer .full {
  background-color: #2f9e2e;
  background-image: -webkit-linear-gradient(top, #2f9e2e, #387831);
  background-image: -moz-linear-gradient(top, #2f9e2e, #387831);
  background-image: -o-linear-gradient(top, #2f9e2e, #387831);
  background-image: -ms-linear-gradient(top, #2f9e2e, #387831);
  background-image: linear-gradient(top, #2f9e2e, #387831);
}
body #wrapper #dashboard .charcontainer .half {
  background-color: #d9b504;
  background-image: -webkit-linear-gradient(top, #d9b504, #d98e04);
  background-image: -moz-linear-gradient(top, #d9b504, #d98e04);
  background-image: -o-linear-gradient(top, #d9b504, #d98e04);
  background-image: -ms-linear-gradient(top, #d9b504, #d98e04);
  background-image: linear-gradient(top, #d9b504, #d98e04);
}
body #wrapper #dashboard .charcontainer .danger {
  background-color: #a60303;
  background-image: -webkit-linear-gradient(top, #a60303, #590202);
  background-image: -moz-linear-gradient(top, #a60303, #590202);
  background-image: -o-linear-gradient(top, #a60303, #590202);
  background-image: -ms-linear-gradient(top, #a60303, #590202);
  background-image: linear-gradient(top, #a60303, #590202);
}
body #wrapper #dashboard .charcontainer .charbottom {
  float: left;
  margin-bottom: 5px;
  width: 371px;
  padding: 5px 4px 0 5px;
  background-color: lightgrey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
body #wrapper #dashboard .charcontainer .charbottom .skill {
  float: left;
  width: 70px;
  height: 70px;
  padding: 0px;
  margin: 0px 5px 4px 0px;
  background-color: grey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-decoration: none;
  color: black;
  font-weight: normal;
  border: 0px;
}
body #wrapper #dashboard .charcontainer .charbottom .skill img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  height: 70px;
  width: 70px;
  cursor: pointer;
  border: 0px;
}
body #wrapper #dashboard .charcontainer .charbottom .skilltext {
  position: absolute;
  display: none;
  background-color: #F5ECEC;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 0 5px #000000;
  -moz-box-shadow: 0 0 5px #000000;
  -webkit-box-shadow: 0 0 5px #000000;
  font-size: 13px;
}
body #wrapper #dashboard .charcontainer .charbottom .skillright {
  margin-right: 0px;
}
body #wrapper #dashboard .battlelog {
  margin-top: 3px;
  width: 398px;
  min-height: 500px;
  float: left;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #000000;
}
body #wrapper #dashboard .battlelog .battlelogvs {
  font-size: 80px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #000000;
}
body #wrapper #dashboard .battlelog .battlelogtext {
  padding: 10px;
}
body #wrapper #home {
  padding: 10px;
}
body #wrapper #about {
  padding: 10px;
}
body #wrapper #about .aboutboxes {
  width: 100%;
  float: left;
}
body #wrapper #about .aboutboxes .left,
body #wrapper #about .aboutboxes .middle,
body #wrapper #about .aboutboxes .right {
  padding: 1% 1% 1% 1%;
  float: left;
  width: 30%;
  margin-right: 2%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #d3d3d3;
  background-image: -webkit-linear-gradient(top, #d3d3d3, #8c8a8a);
  background-image: -moz-linear-gradient(top, #d3d3d3, #8c8a8a);
  background-image: -o-linear-gradient(top, #d3d3d3, #8c8a8a);
  background-image: -ms-linear-gradient(top, #d3d3d3, #8c8a8a);
  background-image: linear-gradient(top, #d3d3d3, #8c8a8a);
}
body #wrapper #about .aboutboxes .right {
  margin-right: 0%;
}
body #wrapper #login {
  padding: 10px;
}
body #wrapper #login table td.label {
  width: 120px;
  color: #DDDDDD;
  font-weight: bold;
}
body #wrapper #login input {
  padding: 3px;
  margin-bottom: 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid white;
  background: -webkit-gradient(linear, left top, left 20, from(#ffffff), color-stop(4%, #dddddd), to(#ffffff));
}
body #wrapper #login input[type="submit"] {
  font-weight: bold;
  float: right;
  padding: 3px 10px 3px 10px;
}
body #wrapper #profile {
  padding: 10px;
}
body #wrapper #profile .left,
body #wrapper #profile .right {
  width: 50%;
  float: left;
}
body #wrapper #profile .left table,
body #wrapper #profile .right table {
  background-color: #d3d3d3;
  background-image: -webkit-linear-gradient(top, #d3d3d3, #8c8a8a);
  background-image: -moz-linear-gradient(top, #d3d3d3, #8c8a8a);
  background-image: -o-linear-gradient(top, #d3d3d3, #8c8a8a);
  background-image: -ms-linear-gradient(top, #d3d3d3, #8c8a8a);
  background-image: linear-gradient(top, #d3d3d3, #8c8a8a);
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
body #wrapper #profile .left table td.label,
body #wrapper #profile .right table td.label {
  width: 120px;
  font-weight: bold;
}
body #wrapper #registration {
  padding: 10px;
}
body #wrapper #registration table td.label {
  width: 120px;
  color: #DDDDDD;
  font-weight: bold;
}
body #wrapper #registration input {
  padding: 3px;
  margin-bottom: 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid white;
  background: -webkit-gradient(linear, left top, left 20, from(#ffffff), color-stop(4%, #dddddd), to(#ffffff));
}
body #wrapper #registration input[type="submit"] {
  font-weight: bold;
  float: right;
  padding: 3px 10px 3px 10px;
}
