* {
  margin: 0;
  padding: 0;
  font-family: Arial
}
body {
  background-color: #424242;
  background-image: url(../img/design/textur.png)
}
body pre {
  padding: 10px;
  background-color: #fff;
  border: 1px solid black
}
body #wrapper {
  padding-top: 10px;
  width: 100%;
  margin: auto auto auto auto;
  height: auto
}
body #wrapper #bannermargin #banner {
  width: 1200px;
  margin: auto auto auto auto;
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  height: 250px;
  position: relative;
  background-image: url(../img/design/logo3.png), url(../img/design/logo3.png);
  background-size: 250px;
  background-position: 20px, 930px;
  background-color: #000;
  background-repeat: no-repeat;
  color: #f2f2f2;
  text-align: center;
  font-weight: bold
}
body #wrapper #bannermargin p {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Metal Mania', cursive
}
body #wrapper #bannermargin p b {
  font-size: 170px;
  font-family: 'Metal Mania', cursive;
  color: #c20000
}
body #wrapper #bannermargin p span {
  color: #c20000
}
body #wrapper #navimargin {
  margin: 10px 0 10px 0;
  height: 40px;
  min-width: 1200px;
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  background-image: none;
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #121212
}
body #wrapper #navimargin #navi {
  width: 1200px;
  margin: auto auto auto auto;
  height: 40px
}
body #wrapper #navimargin #navi #navipoints {
  width: 1200px;
  height: 40px;
  line-height: 40px
}
body #wrapper #navimargin #navi #navipoints a {
  text-decoration: none;
  color: #eda709;
  padding: 10px
}
body #wrapper #navimargin #navi #navipoints a:hover {
  color: white;
  border-width: 1px 0;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000
}
body #wrapper #navimargin #navi #navipoints .active {
  color: white;
  border-width: 1px 0;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000
}
body #wrapper #contentmargin {
  width: 1200px;
  margin: auto auto auto auto
}
body #wrapper #contentmargin #content {
  width: 1200px;
  float: left;
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  background-color: #494b4a;
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6494b4a, endColorstr=#e6494b4a)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6494b4a,endColorstr=#e6494b4a);
  background-color: rgba(73,75,74,0.9);
  min-height: 500px;
  height: 100%
}
body #wrapper #contentmargin #content .messages {
  font-style: italic;
  font-size: 90%;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  margin-bottom: 10px;
  font-weight: bold;
  margin: 10px
}
body #wrapper #contentmargin #content .success {
  color: #008000
}
body #wrapper #contentmargin #content .error {
  color: #f00
}
body #wrapper #contentmargin #content .notice {
  color: darkyellow
}
body #wrapper #battle .charcontainer {
  width: 380px;
  border-width: 0;
  border-style: solid;
  border-color: black;
  padding: 10px;
  float: left
}
body #wrapper #battle .charcontainer .chartop {
  float: left;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px
}
body #wrapper #battle .charcontainer .chartop .charimg {
  background-color: grey;
  height: 190px;
  width: 190px;
  float: left;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px
}
body #wrapper #battle .charcontainer .chartop .charimg img {
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px
}
body #wrapper #battle .charcontainer .chartop .charattr {
  background-color: lightgrey;
  height: 190px;
  width: 190px;
  float: left;
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0
}
body #wrapper #battle .charcontainer .chartop .charattr h2 {
  font-size: 20px;
  height: 30px;
  border-bottom: 1px solid black;
  padding: 5px 5px 5px 5px
}
body #wrapper #battle .charcontainer .chartop .charattr h3 {
  font-size: 17px;
  height: 20px;
  padding: 5px 5px 5px 5px
}
body #wrapper #battle .charcontainer .chartop .charattr table.charattrtable {
  width: 178px;
  padding: 5px 5px 5px 5px
}
body #wrapper #battle .charcontainer .chartop .charattr table.charattrtable td {
  width: 98px
}
body #wrapper #battle .charcontainer .charmiddle {
  height: 30px;
  width: 378px;
  float: left;
  margin-bottom: 10px;
  position: relative
}
body #wrapper #battle .charcontainer .progressbar_top {
  height: 30px;
  position: absolute;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  box-shadow: 0 0 10px #8b0000;
  -moz-box-shadow: 0 0 10px #8b0000;
  -webkit-box-shadow: 0 0 10px #8b0000;
  background-color: #dc0000;
  background-image: -webkit-linear-gradient(top,#dc0000,#c20000);
  background-image: -moz-linear-gradient(top,#dc0000,#c20000);
  background-image: -o-linear-gradient(top,#dc0000,#c20000);
  background-image: -ms-linear-gradient(top,#dc0000,#c20000);
  background-image: linear-gradient(top,#dc0000,#c20000)
}
body #wrapper #battle .charcontainer .progressbar_bottom {
  height: 30px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  box-shadow: 0 0 10px #8b0000;
  -moz-box-shadow: 0 0 10px #8b0000;
  -webkit-box-shadow: 0 0 10px #8b0000;
  background-color: #808080;
  background-image: -webkit-linear-gradient(top,#808080,#5a5a5a);
  background-image: -moz-linear-gradient(top,#808080,#5a5a5a);
  background-image: -o-linear-gradient(top,#808080,#5a5a5a);
  background-image: -ms-linear-gradient(top,#808080,#5a5a5a);
  background-image: linear-gradient(top,#808080,#5a5a5a);
  width: 100%
}
body #wrapper #battle .charcontainer .charmiddle span.progresstext {
  position: absolute;
  height: 20px;
  width: 300px;
  display: block;
  margin-top: -25px;
  margin-left: -150px;
  left: 50%;
  text-align: center;
  color: #fff;
  font-weight: bold
}
body #wrapper #battle .charcontainer .charbottom {
  float: left;
  margin-bottom: 5px;
  width: 371px;
  padding: 5px 4px 0 5px;
  background-color: lightgrey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px
}
body #wrapper #battle .charcontainer .charbottom .skill {
  float: left;
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0 5px 4px 0;
  background-color: grey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-decoration: none;
  color: black;
  font-weight: normal;
  border: 0
}
body #wrapper #battle .charcontainer .charbottom .skill img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  height: 70px;
  width: 70px;
  cursor: pointer;
  border: 0
}
body #wrapper #battle .charcontainer .charbottom .skilltext {
  position: absolute;
  display: none;
  background-color: #f5ecec;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000
}
body #wrapper #battle .charcontainer .charbottom .skillright {
  margin-right: 0
}
body #wrapper #battle .charcontainer a {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
  float: right;
  padding: 3px 10px 3px 10px;
  color: black;
  text-decoration: none;
  background-color: lightgrey;
  display: block;
  margin-top: 15px
}
body #wrapper #battle .battlelog {
  margin-top: 3px;
  width: 398px;
  min-height: 500px;
  float: left;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #000
}
body #wrapper #battle .battlelog .battlelogvs {
  font-size: 80px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #000
}
body #wrapper #battle .battlelog .battlelogtext {
  padding: 10px
}
body #wrapper #character {
  padding: 10px
}
body #wrapper #character .left {
  float: left;
  padding-right: 20px
}
body #wrapper #character .left .charcontainer {
  width: 380px;
  border-width: 0;
  border-style: solid;
  border-color: black;
  padding: 0;
  float: left
}
body #wrapper #character .left .charcontainer .chartop {
  float: left;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px
}
body #wrapper #character .left .charcontainer .chartop .charimg {
  background-color: grey;
  height: 190px;
  width: 190px;
  float: left;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px
}
body #wrapper #character .left .charcontainer .chartop .charimg img {
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px
}
body #wrapper #character .left .charcontainer .chartop .charattr {
  background-color: lightgrey;
  height: 190px;
  width: 190px;
  float: left;
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0
}
body #wrapper #character .left .charcontainer .chartop .charattr h2 {
  font-size: 20px;
  height: 30px;
  border-bottom: 1px solid black;
  padding: 5px 5px 5px 5px
}
body #wrapper #character .left .charcontainer .chartop .charattr h3 {
  font-size: 17px;
  height: 20px;
  padding: 5px 5px 5px 5px
}
body #wrapper #character .left .charcontainer .chartop .charattr table.charattrtable {
  width: 178px;
  padding: 5px 5px 5px 5px
}
body #wrapper #character .left .charcontainer .chartop .charattr table.charattrtable td {
  width: 98px
}
body #wrapper #character .left .charcontainer .charmiddle {
  height: 30px;
  width: 378px;
  float: left;
  margin-bottom: 10px;
  position: relative
}
body #wrapper #character .left .charcontainer .progressbar_top {
  height: 30px;
  position: absolute;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  box-shadow: 0 0 10px #8b0000;
  -moz-box-shadow: 0 0 10px #8b0000;
  -webkit-box-shadow: 0 0 10px #8b0000;
  background-color: #dc0000;
  background-image: -webkit-linear-gradient(top,#dc0000,#c20000);
  background-image: -moz-linear-gradient(top,#dc0000,#c20000);
  background-image: -o-linear-gradient(top,#dc0000,#c20000);
  background-image: -ms-linear-gradient(top,#dc0000,#c20000);
  background-image: linear-gradient(top,#dc0000,#c20000)
}
body #wrapper #character .left .charcontainer .progressbar_bottom {
  height: 30px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  box-shadow: 0 0 10px #8b0000;
  -moz-box-shadow: 0 0 10px #8b0000;
  -webkit-box-shadow: 0 0 10px #8b0000;
  background-color: #808080;
  background-image: -webkit-linear-gradient(top,#808080,#5a5a5a);
  background-image: -moz-linear-gradient(top,#808080,#5a5a5a);
  background-image: -o-linear-gradient(top,#808080,#5a5a5a);
  background-image: -ms-linear-gradient(top,#808080,#5a5a5a);
  background-image: linear-gradient(top,#808080,#5a5a5a);
  width: 100%
}
body #wrapper #character .left .charcontainer .charmiddle span.progresstext {
  position: absolute;
  height: 20px;
  width: 300px;
  display: block;
  margin-top: -25px;
  margin-left: -150px;
  left: 50%;
  text-align: center;
  color: #fff;
  font-weight: bold
}
body #wrapper #character .left .charcontainer .charbottom {
  float: left;
  margin-bottom: 5px;
  width: 371px;
  padding: 5px 4px 0 5px;
  background-color: lightgrey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px
}
body #wrapper #character .left .charcontainer .charbottom .skill {
  float: left;
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0 5px 4px 0;
  background-color: grey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-decoration: none;
  color: black;
  font-weight: normal;
  border: 0
}
body #wrapper #character .left .charcontainer .charbottom .skill img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  height: 70px;
  width: 70px;
  cursor: pointer;
  border: 0
}
body #wrapper #character .left .charcontainer .charbottom .skilltext {
  position: absolute;
  display: none;
  background-color: #f5ecec;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000
}
body #wrapper #character .left .charcontainer .charbottom .skillright {
  margin-right: 0
}
body #wrapper #character .left .charcontainer a {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
  float: right;
  padding: 3px 10px 3px 10px;
  color: black;
  text-decoration: none;
  background-color: lightgrey;
  display: block;
  margin-top: 15px
}
body #wrapper #character .right {
  float: left;
  width: 780px
}
body #wrapper #character .right .variation {
  float: left;
  height: 400px;
  width: 165px
}
body #wrapper #character .right .variation .physical, body #wrapper #character .right .variation .magical, body #wrapper #character .right .variation .special {
  height: 100px;
  width: 150px;
  line-height: 100px;
  text-align: center;
  margin: 0 10px 10px 0;
  display: block;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px
}
body #wrapper #character .right .variation .physical {
  background-color: #f5ecec
}
body #wrapper #character .right .variation .magical {
  background-color: #ececec
}
body #wrapper #character .right .variation .special {
  background-color: #ffa54b
}
body #wrapper #character .right .variation .chosen {
  margin-right: 0;
  padding-right: 15px;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px
}
body #wrapper #character .right .skills .physical, body #wrapper #character .right .skills .magical, body #wrapper #character .right .skills .special {
  float: left;
  min-height: 305px;
  width: 600px;
  margin-bottom: 5px;
  margin-left: -5px;
  padding: 15px 4px 0 16px;
  background-color: #d3d3d3;
  display: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px
}
body #wrapper #character .right .skills .physical .skillcontainer, body #wrapper #character .right .skills .magical .skillcontainer, body #wrapper #character .right .skills .special .skillcontainer {
  width: 31%;
  margin-right: 2%;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000;
  float: left;
  background-color: #d3d3d3
}
body #wrapper #character .right .skills .physical .skillcontainer .skill, body #wrapper #character .right .skills .magical .skillcontainer .skill, body #wrapper #character .right .skills .special .skillcontainer .skill {
  float: left;
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0 5px 0 0;
  background-color: grey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-decoration: none;
  color: black;
  font-weight: normal;
  border: 0
}
body #wrapper #character .right .skills .physical .skillcontainer .skill img, body #wrapper #character .right .skills .magical .skillcontainer .skill img, body #wrapper #character .right .skills .special .skillcontainer .skill img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  height: 70px;
  width: 70px;
  border: 0
}
body #wrapper #character .right .skills .physical .skillcontainer .skilltext, body #wrapper #character .right .skills .magical .skillcontainer .skilltext, body #wrapper #character .right .skills .special .skillcontainer .skilltext {
  padding-top: 5px;
  display: block
}
body #wrapper #character .right .skills .physical {
  background-color: #f5ecec
}
body #wrapper #character .right .skills .magical {
  background-color: #ececec
}
body #wrapper #character .right .skills .special {
  background-color: #ffa54b
}
body #wrapper #character .right .skills .show {
  display: block
}
body #wrapper #dashboard .left {
  width: 400px;
  float: left
}
body #wrapper #dashboard .usercontainer {
  padding: 10px 10px 0 10px;
  float: left
}
body #wrapper #dashboard .userinfo {
  width: 370px;
  height: 110px;
  float: left;
  background-color: grey;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px
}
body #wrapper #dashboard .right {
  width: 800px;
  float: left;
  padding-top: 10px
}
body #wrapper #dashboard .challangecontainer {
  float: left;
  height: 100px;
  padding: 10px;
  background-color: #d3d3d3;
  background-image: -webkit-linear-gradient(top,#d3d3d3,#8c8a8a);
  background-image: -moz-linear-gradient(top,#d3d3d3,#8c8a8a);
  background-image: -o-linear-gradient(top,#d3d3d3,#8c8a8a);
  background-image: -ms-linear-gradient(top,#d3d3d3,#8c8a8a);
  background-image: linear-gradient(top,#d3d3d3,#8c8a8a);
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px
}
body #wrapper #dashboard .challangecontainer .charimg {
  width: 100px;
  height: 100px;
  background-color: lightgrey;
  float: left;
  margin-right: 20px;
  overflow: hidden
}
body #wrapper #dashboard .challangecontainer .charinfo {
  width: 550px;
  height: 100px;
  float: left
}
body #wrapper #dashboard .challangecontainer .charbutton {
  width: 100px;
  height: 100px;
  float: left
}
body #wrapper #dashboard .challangecontainer .charbutton button {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
  float: right;
  padding: 3px 10px 3px 10px;
  color: black;
  text-decoration: none;
  background-color: lightgrey;
  display: block;
  margin-top: 35px
}
body #wrapper #dashboard .charcontainer {
  width: 380px;
  border-width: 0;
  border-style: solid;
  border-color: black;
  padding: 10px;
  float: left
}
body #wrapper #dashboard .charcontainer .chartop {
  float: left;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px
}
body #wrapper #dashboard .charcontainer .chartop .charimg {
  background-color: grey;
  height: 190px;
  width: 190px;
  float: left;
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px
}
body #wrapper #dashboard .charcontainer .chartop .charimg img {
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px
}
body #wrapper #dashboard .charcontainer .chartop .charattr {
  background-color: lightgrey;
  height: 190px;
  width: 190px;
  float: left;
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0
}
body #wrapper #dashboard .charcontainer .chartop .charattr h2 {
  font-size: 20px;
  height: 30px;
  border-bottom: 1px solid black;
  padding: 5px 5px 5px 5px
}
body #wrapper #dashboard .charcontainer .chartop .charattr h3 {
  font-size: 17px;
  height: 20px;
  padding: 5px 5px 5px 5px
}
body #wrapper #dashboard .charcontainer .chartop .charattr table.charattrtable {
  width: 178px;
  padding: 5px 5px 5px 5px
}
body #wrapper #dashboard .charcontainer .chartop .charattr table.charattrtable td {
  width: 98px
}
body #wrapper #dashboard .charcontainer .charmiddle {
  height: 30px;
  width: 378px;
  float: left;
  margin-bottom: 10px;
  position: relative
}
body #wrapper #dashboard .charcontainer .progressbar_top {
  height: 30px;
  position: absolute;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  box-shadow: 0 0 10px #8b0000;
  -moz-box-shadow: 0 0 10px #8b0000;
  -webkit-box-shadow: 0 0 10px #8b0000;
  background-color: #dc0000;
  background-image: -webkit-linear-gradient(top,#dc0000,#c20000);
  background-image: -moz-linear-gradient(top,#dc0000,#c20000);
  background-image: -o-linear-gradient(top,#dc0000,#c20000);
  background-image: -ms-linear-gradient(top,#dc0000,#c20000);
  background-image: linear-gradient(top,#dc0000,#c20000)
}
body #wrapper #dashboard .charcontainer .progressbar_bottom {
  height: 30px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  box-shadow: 0 0 10px #8b0000;
  -moz-box-shadow: 0 0 10px #8b0000;
  -webkit-box-shadow: 0 0 10px #8b0000;
  background-color: #808080;
  background-image: -webkit-linear-gradient(top,#808080,#5a5a5a);
  background-image: -moz-linear-gradient(top,#808080,#5a5a5a);
  background-image: -o-linear-gradient(top,#808080,#5a5a5a);
  background-image: -ms-linear-gradient(top,#808080,#5a5a5a);
  background-image: linear-gradient(top,#808080,#5a5a5a);
  width: 100%
}
body #wrapper #dashboard .charcontainer .charmiddle span.progresstext {
  position: absolute;
  height: 20px;
  width: 300px;
  display: block;
  margin-top: -25px;
  margin-left: -150px;
  left: 50%;
  text-align: center;
  color: #fff;
  font-weight: bold
}
body #wrapper #dashboard .charcontainer .charbottom {
  float: left;
  margin-bottom: 5px;
  width: 371px;
  padding: 5px 4px 0 5px;
  background-color: lightgrey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px
}
body #wrapper #dashboard .charcontainer .charbottom .skill {
  float: left;
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0 5px 4px 0;
  background-color: grey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-decoration: none;
  color: black;
  font-weight: normal;
  border: 0
}
body #wrapper #dashboard .charcontainer .charbottom .skill img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  height: 70px;
  width: 70px;
  cursor: pointer;
  border: 0
}
body #wrapper #dashboard .charcontainer .charbottom .skilltext {
  position: absolute;
  display: none;
  background-color: #f5ecec;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000
}
body #wrapper #dashboard .charcontainer .charbottom .skillright {
  margin-right: 0
}
body #wrapper #dashboard .battlelog {
  margin-top: 3px;
  width: 398px;
  min-height: 500px;
  float: left;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #000
}
body #wrapper #dashboard .battlelog .battlelogvs {
  font-size: 80px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #000
}
body #wrapper #dashboard .battlelog .battlelogtext {
  padding: 10px
}
body #wrapper #home {
  padding: 10px
}
body #wrapper #about {
  padding: 10px
}
body #wrapper #about .aboutboxes {
  width: 100%;
  float: left
}
body #wrapper #about .aboutboxes .left, body #wrapper #about .aboutboxes .middle, body #wrapper #about .aboutboxes .right {
  padding: 1% 1% 1% 1%;
  float: left;
  width: 30%;
  margin-right: 2%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #d3d3d3;
  background-image: -webkit-linear-gradient(top,#d3d3d3,#8c8a8a);
  background-image: -moz-linear-gradient(top,#d3d3d3,#8c8a8a);
  background-image: -o-linear-gradient(top,#d3d3d3,#8c8a8a);
  background-image: -ms-linear-gradient(top,#d3d3d3,#8c8a8a);
  background-image: linear-gradient(top,#d3d3d3,#8c8a8a)
}
body #wrapper #about .aboutboxes .right {
  margin-right: 0
}
body #wrapper #login {
  padding: 10px
}
body #wrapper #login table td.label {
  width: 120px;
  color: #ddd;
  font-weight: bold
}
body #wrapper #login input {
  padding: 3px;
  margin-bottom: 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid white;
  background: -webkit-gradient(linear,left top,left 20,from(#fff),color-stop(4%,#ddd),to(#fff))
}
body #wrapper #login input[type="submit"] {
  font-weight: bold;
  float: right;
  padding: 3px 10px 3px 10px
}
body #wrapper #profile {
  padding: 10px
}
body #wrapper #profile .left, body #wrapper #profile .right {
  width: 50%;
  float: left
}
body #wrapper #profile .left table, body #wrapper #profile .right table {
  background-color: #d3d3d3;
  background-image: -webkit-linear-gradient(top,#d3d3d3,#8c8a8a);
  background-image: -moz-linear-gradient(top,#d3d3d3,#8c8a8a);
  background-image: -o-linear-gradient(top,#d3d3d3,#8c8a8a);
  background-image: -ms-linear-gradient(top,#d3d3d3,#8c8a8a);
  background-image: linear-gradient(top,#d3d3d3,#8c8a8a);
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px
}
body #wrapper #profile .left table td.label, body #wrapper #profile .right table td.label {
  width: 120px;
  font-weight: bold
}
body #wrapper #registration {
  padding: 10px
}
body #wrapper #registration table td.label {
  width: 120px;
  color: #ddd;
  font-weight: bold
}
body #wrapper #registration input {
  padding: 3px;
  margin-bottom: 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid white;
  background: -webkit-gradient(linear,left top,left 20,from(#fff),color-stop(4%,#ddd),to(#fff))
}
body #wrapper #registration input[type="submit"] {
  font-weight: bold;
  float: right;
  padding: 3px 10px 3px 10px
}