#character{
  padding:10px;
  .left{
    float:left;
    padding-right:20px;
    .charcontainer{
      width:380px;
      border-width:0px;
      border-style:solid;
      border-color:black;
      padding:0px;
      float:left;
      margin-bottom:10px;
      .chartop{
        float:left;
        margin-bottom:10px;
        .radius(5px);
      }
      .chartop .charimg{
        background-color:grey;
        height:190px;
        width:190px;
        float:left;
        .radius(5px 0 0 5px);
        img{.radius(5px 0 0 5px)}
      }
      .chartop .charattr{
        background-color:lightgrey;
        height:190px;
        width:190px;
        float:left;
        .radius(0 5px 5px 0);
      }
      .chartop .charattr h2{
        font-size:20px;
        height:30px;
        border-bottom:1px solid black;
        padding:5px 5px 5px 5px;
      }
      .chartop .charattr h3{
        font-size:17px;
        height:20px;
        padding:5px 5px 5px 5px;
      }
      .chartop .charattr table.charattrtable{
        width:178px;
        padding:5px 5px 5px 5px;
      }
      .chartop .charattr table.charattrtable td{
        width:98px;
      }
      .charmiddle{
        height:30px;
        width:378px;
        float:left;
        margin-bottom:10px;
        position:relative;
      }
      .progressbar_top{
        height:30px;
        position:absolute;
        .radius(7px);
        .background-gradient(@origin:top,@start:#2F9E2E,@stop:#387831);
      }
      .progressbar_bottom{
        height:30px;
        .radius(7px);
        .box-shadow(0 0 10px #8b0000);
        .background-gradient(@origin:top,@start:#808080,@stop:#5a5a5a);
        width:100%;
      }
      .charmiddle span.progresstext{
        position:absolute;
        height:20px;
        width:300px;
        display:block;
        margin-top:-25px;
        margin-left:-150px;
        left:50%;
        text-align:center;
        color:#FFFFFF;
        font-weight:bold;
      }
      .full{
      .background-gradient(@origin:top,@start:#2F9E2E,@stop:#387831);
      }
      .half{
        .background-gradient(@origin:top,@start:#D9B504,@stop:#D98E04);
      }
      .danger{
        .background-gradient(@origin:top,@start:#A60303,@stop:#590202);
      }
      .charbottom{
        float:left;
        margin-bottom:5px;
        width:371px;
        padding:5px 4px 0 5px;
        background-color:lightgrey;
        .radius(5px);
        .skill{
          float:left;
          width:70px;
          height:70px;
          padding:0px;
          margin:0px 5px 4px 0px;
          background-color:grey;
          .radius(5px);
          text-decoration:none;
          color:black;
          font-weight:normal;
          border:0px;
          img{
            .radius(5px);
            height:70px;
            width:70px;
            cursor: pointer;
            border:0px;
          }
          
        }
        .skilltext{
          position:absolute;
          display:none;
          background-color:#F5ECEC;
          padding:10px;
          .radius(5px);
          .box-shadow(0 0 5px black);
        }
        .skillright{
          margin-right:0px;
        }
      }
      a{
        .radius(3px);
        font-weight:bold;
        float:right;
        padding:3px 10px 3px 10px;
        color:black;
        text-decoration:none;
        background-color:lightgrey;
        display:block;
        margin-top:15px;      
      }
    }
  }
  .right{
    float:left;
    width:780px;
    .parts{
      .partnavi{
        width:100%;
        float:left;
        .partnavileft,.partnaviright{
          width:47.5%;
          padding:1%;
          float:left;
          cursor:pointer;
          .radius(3px);
          background-color:#F5ECEC;
          font-weight:bold;
        }
        .partnaviright{
          margin-left:1%;
        }
        .active{
          .background-gradient(@origin:top,@start:#D3D3D3,@stop:#F5ECEC);
          .radius(3px 3px 0 0);
          padding-bottom:15px;
        }
      }
      .leftdiv{
        width:98%;
        float:left;
        background-color:#F5ECEC;
        padding:1% 1% 0 1%;
        .radius(0 5px 5px 5px);
        .variation{
          float: left;
          width: 165px;
          .physical,.magical,.special{
            height: 100px;
            width:150px;
            line-height: 100px;
            text-align: center;
            margin: 0 10px 10px 0;
            display:block;
            text-decoration:none;
            color:black;
            .radius(5px);
            font-weight:bold;
          }
          .physical{background-color: #D75D51}
          .magical{background-color: #5992CF}
          .special{background-color: #FFA54B}
          .chosen{
            margin-right:0px;
            padding-right:15px;
            .radius(5px 0px 0px 5px);
          }
        }
        .skills{
          .physical,.magical,.special{
            float: left;
            min-height: 305px;
            width: 584px;
            margin-bottom: 5px;
            margin-left:-5px;
            padding: 15px 4px 0 16px;
            background-color: #D3D3D3;
            display:none;
            .radius(5px);
            .skillcontainer{
              width:31%;
              margin-right:2%;
              margin-bottom:10px;
              .radius(5px);
              .box-shadow(0 0 5px black);
              float:left;
              background-color:#D3D3D3;
              .skill{
                  float:left;
                  width:70px;
                  height:70px;
                  padding:0px;
                  margin:0px 5px 0px 0px;
                  background-color:grey;
                  .radius(5px);
                  text-decoration:none;
                  color:black;
                  font-weight:normal;
                  border:0px;
                  img{
                    .radius(5px);
                    height:70px;
                    width:70px;
                    border:0px;
                  }
              }
              .skilltext{
                padding-top:5px;
                display:block;
              }
            }
          }
          .physical{background-color: #D75D51}
          .magical{background-color: #5992CF}
          .special{background-color: #FFA54B}
          .show{display:block}
        }
      }
      .rightdiv{
        float:left;
        width:100%;
        .charap{ 
          width:98%;
          padding:1%;
          .radius(5px 0 5px 5px);
          background-color:#F5ECEC;
          float:left;
          .apheader{
            width:100%;
            float:left;
            .headerleft,.headerright{
              float:left;
              width:50%;
              font-weight:bold;
            }
          }
          .apcontent{
            width:100%;
            float:left;
            .apcontentleft,.apcontentright{
              width:48%;
              float:left;
              margin-right:2%;
              .att{
                width:90%;
                margin:0 6% 10px 0;
                padding:20px 2% 20px 2%;
                background-color:lightgreen;
                text-align:center;
                .radius(5px);
              }
              .shadow{
                .box-shadow(0 0 10px black);
              }
            }
            .apcontentright{
              float:left;
              .skillpoint{
                width:20px;
                height:20px;
                .radius(20px);
                background-color:lightgreen;
                text-align:center;
                cursor:pointer;
                float:left;
              }
            }
          }
        }
      }
      .hidden{display:none;}
    }
  }
  .newChar{
    width:300px;
    table{
      .background-gradient(@origin:top,@start:#D3D3D3,@stop:#8c8a8a);
      width:95%;
      padding:10px;
      .radius(5px);
      td.label{
        width:150px;
        display:block;
      }
    }
    input[type="text"]{
      padding:3px;
      margin-bottom:5px;
      .radius(3px);
      width:250px;
      border:1px solid white;
      background:-webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(4%, #DDDDDD), to(#FFFFFF));
    }
    input[type="file"]{
      padding:3px;
      margin-bottom:5px;
      .radius(3px);
      width:250px;
      border:1px solid white;
      background:-webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(4%, #DDDDDD), to(#FFFFFF));
    }
    input[type="submit"]{
      font-weight:bold;
      float:right;
      padding:3px 10px 3px 10px;
    }
  }
}