/* Content constants */
  @content_padding:20px;
  @content_box_shadow:@base_box_shadow;
  
.rgba(@colour, @alpha) {
  @alphaColour: hsla(hue(@colour), saturation(@colour), lightness(@colour), @alpha);
  @ieAlphaColour: argb(@alphaColour);  
   
  background-color: @colour; // Fallback for older browsers 
   
  // IE hacks
  zoom: 1; // hasLayout
  background-color: transparent\9;
  -ms-filter:  "progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphaColour}, endColorstr=@{ieAlphaColour})"; // IE 8+
  filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphaColour}, endColorstr=@{ieAlphaColour})"; // IE 6 & 7
   
  background-color: @alphaColour; 
}
#contentmargin{
  .set_center;
  #content{
    width:@base_width;
    //background-image:url(../../img/design/textur.png);
    float:left;
    //padding:@content_padding @content_padding @content_padding+20 @content_padding;
    .box-shadow(@content_box_shadow);
    .rgba(rgb(73, 75, 74),0.9);
    min-height:500px;
    height:100%;
    .messages{
      font-style: italic;
      font-size: 90%;
      background-color: #F2F2F2;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 0 10px black;
      margin-bottom: 10px;
      font-weight: bold;
      margin:10px;
    }
    .success{color:green}
    .error{color:red}
    .notice{color:darkyellow}
  }
}