#dashboard{
  .left {
    width: 400px;
    float:left;
  }
  .usercontainer {
    padding: 10px 10px 0 10px;
    float:left;
  }
  .userinfo{
    width:370px;
    height:110px;
    float:left;
    background-color:grey;
    padding:5px;
    .radius(5px);
  }
  .right{
    width:800px;
    float:left;
    padding-top:10px;
  }
  .challangecontainer{
    float:left;
    height:100px;
    padding:10px;
    .background-gradient(@origin:top,@start:#D3D3D3,@stop:#8c8a8a);
    margin-bottom:10px;
    .radius(5px);
    .charimg{
      width:100px;
      height:100px;
      background-color:lightgrey;
      float:left;
      margin-right:20px;
      overflow:hidden;
    }
    .charinfo{
      width:550px;
      height:100px;
      float:left;
    }
    .charbutton{
      width:100px;
      height:100px;
      float:left;
    }
    .charbutton button{
      .radius(3px);
      font-weight:bold;
      float:right;
      padding:3px 10px 3px 10px;
      color:black;
      text-decoration:none;
      background-color:lightgrey;
      display:block;
      margin-top:35px;
    }
  }
  .charcontainer{
    width:380px;
    border-width:0px;
    border-style:solid;
    border-color:black;
    padding:10px;
    float:left;
    .chartop{
      float:left;
      margin-bottom:10px;
      .radius(5px);
    }
    .chartop .charimg{
      background-color:grey;
      height:190px;
      width:190px;
      float:left;
      .radius(5px 0 0 5px);
      img{.radius(5px 0 0 5px)}
    }
    .chartop .charattr{
      background-color:lightgrey;
      height:190px;
      width:190px;
      float:left;
      .radius(0 5px 5px 0);
    }
    .chartop .charattr h2{
      font-size:20px;
      height:30px;
      border-bottom:1px solid black;
      padding:5px 5px 5px 5px;
    }
    .chartop .charattr h3{
      font-size:17px;
      height:20px;
      padding:5px 5px 5px 5px;
    }
    .chartop .charattr table.charattrtable{
      width:178px;
      padding:5px 5px 5px 5px;
    }
    .chartop .charattr table.charattrtable td{
      width:98px;
    }
    .exp{
      height:15px;
      width:378px;
      float:left;
      margin-bottom:10px;
      position:relative;
    }
    .exp_top{
      height:15px;
      position:absolute;
      .radius(7px);
      .background-gradient(@origin:top,@start:#E8B300,@stop:#FF730A);
    }
    .exp_bottom{
      height:15px;
      .radius(7px);
      .background-gradient(@origin:top,@start:#808080,@stop:#5a5a5a);
      width:100%;
    }
    .exp span.exptext{
      position:absolute;
      height:20px;
      width:300px;
      display:block;
      margin-top:-16px;
      margin-left:-150px;
      left:50%;
      text-align:center;
      color:#FFFFFF;
      font-size:15px;
    }
    .charmiddle{
      height:30px;
      width:378px;
      float:left;
      margin-bottom:10px;
      position:relative;
    }
    .progressbar_top{
      height:30px;
      position:absolute;
      .radius(7px);
      .background-gradient(@origin:top,@start:#2F9E2E,@stop:#387831);
    }
    .progressbar_bottom{
      height:30px;
      .radius(7px);
      .box-shadow(0 0 10px #8b0000);
      .background-gradient(@origin:top,@start:#808080,@stop:#5a5a5a);
      width:100%;
    }
    .charmiddle span.progresstext{
      position:absolute;
      height:20px;
      width:300px;
      display:block;
      margin-top:-25px;
      margin-left:-150px;
      left:50%;
      text-align:center;
      color:#FFFFFF;
      font-weight:bold;
    }
    .full{
      .background-gradient(@origin:top,@start:#2F9E2E,@stop:#387831);
    }
    .half{
      .background-gradient(@origin:top,@start:#D9B504,@stop:#D98E04);
    }
    .danger{
      .background-gradient(@origin:top,@start:#A60303,@stop:#590202);
    }
    .charbottom{
      float:left;
      margin-bottom:5px;
      width:371px;
      padding:5px 4px 0 5px;
      background-color:lightgrey;
      .radius(5px);
      .skill{
        float:left;
        width:70px;
        height:70px;
        padding:0px;
        margin:0px 5px 4px 0px;
        background-color:grey;
        .radius(5px);
        text-decoration:none;
        color:black;
        font-weight:normal;
        border:0px;
        img{
          .radius(5px);
          height:70px;
          width:70px;
          cursor: pointer;
          border:0px;
        }
        
      }
      .skilltext{
        position:absolute;
        display:none;
        background-color:#F5ECEC;
        padding:10px;
        .radius(5px);
        .box-shadow(0 0 5px black);
        font-size:13px;
      }
      .skillright{
        margin-right:0px;
      }
    }
  }
  .battlelog{
    margin-top:3px;
    width:398px;
    min-height:500px;
    float:left;
    .border(0 1px 0 1px, solid, black);
    .battlelogvs{
      font-size:80px;
      height:150px;
      line-height:150px;
      text-align:center;
      .border(0 0 1px 0, solid, black);
    }
    .battlelogtext{
      padding:10px;
    }
  }
}